* {
  margin: 0;
  padding: 0;
}

.big_container {
  width: 100%;
  height: 100vh;
  background-color: #B9B8B6;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  opacity: 100%;
  width: 546px;
  height: 248px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 40px;
  font-size: 24px;
  color: black;
}

.header__text {
    font-weight: 450;
}

.footer {
    display: flex;
    width: 546px;
    justify-content: space-around;
    align-items: center;
    margin-top: 49px;
}

.main {
    margin-top: 12px;
}

.input_text {
    width: 450px;
    height: 36px;
    font-size: 17px;
    border:1px solid #e9e9e7;
    border-radius: 4px;
    color: #B9B8B6;
}

.back_button {
    background-color: red;
    border: none;
    width: 84px;
    height: 42px;
    color: white;
    border-radius: 4px;
}

.next_button {
    background-color: black;
    border: none;
    width: 84px;
    height: 42px;
    color: white;
    border-radius: 4px;
}

.dots_list{
    display: flex;
    width: 48px;
    gap: 12px;
    height: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.dot1 {
    background-color: black;
}

.dot2 {
    background-color: #B9B8B6;
}
